<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
  <title>Projeto Django</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand mr-auto" href="{% url 'home' %}">Django</a>

    <ul class="navbar-nav">
      <li class="navbar-item">
        <a class="nav-link" href="#">Sobre o Projeto</a>
      </li>
      <li class="navbar-item">
        <a class="nav-link" href="#">História do Django</a>
      </li>
      <li class="navbar-item">
        <a class="nav-link" href="#">Aplicação</a>
      </li>
      <li class="navbar-item">
        <a class="nav-link" href="#">Como Funciona?</a>
      </li>
    </ul>
  </nav>

  <div class="jumbotron jumbotron-fluid text-center border-top">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Python-logo-notext.svg/1200px-Python-logo-notext.svg.png" alt="Python-logo" width="60">
    <h3>Python & Django</h3>
    <p class="text-muted">Por Everton Oliveira</p>
  </div>

  <div class="conteiner ml-3">
    <h1 class="">Sobre o Projeto</h1>
    <div class="row">
      <div class="col-xl-8">
        <p>Este projeto é todo desenvolvido com Django, framework de Python, atuando no backend. Outras tecnologias incluem bootstrap e javascript no frontend. 
        <br> <br>
        Como uma metalinguistica, o projeto pretende explicar o funcionamento do django utilizando o próprio Django para isto.
        <br> <br>
        O projeto é todo desenvolvido por mim, Everton oliveira, estudante de análise de sistemas pela FAETERJ-RIO.
        </p>
      </div>
      <div class="col-xl-3">
        <img src="https://fontmeme.com/images/Django_logo.png" alt="python" width="200">
      </div>
    </div>
    
  </div>


</body>
</html>